@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply bg-black text-black;
  }

  button {
    @apply bg-black text-white px-3 py-2  rounded-lg opacity-80;
  }

  input {
    @apply bg-white text-black;
  }

  .abs-center-x {
    @apply left-1/2 transform -translate-x-1/2;
  }

  .abs-center-y {
    @apply top-1/2 transform -translate-y-1/2;
  }
}

.parchment-background {
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #cccaa1;
  filter: url(#wavy2);
}
